#layout {
    margin: 5px auto 5px auto;
    width: 500px;
    height: 320px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.70);
}

#canvas{
    background: url("background.png");
    background-size: 500px 350px;
}
label{
    resize: 30px 10px;
}