#layout {
    margin: 3px auto 0px auto;
    width: 500px;
    height: 350px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 2px 3px 10px rgba(192,192,192,0.30);
}

#canvas{
    background: url("background.png");
    background-size: 500px 350px;
    background-repeat: repeat;
    background-attachment: scroll;
}